@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--dark-gray-2);
  color: var(--light-gray-1);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
}

.page-content {
  margin-top: 48px;
  padding: 24px 32px 32px 32px;
}

.page-content--centered {
  align-items: center;
  display: flex;
  height: calc(100vh - 48px);
  justify-content: center;
}

.page-content--full-height {
  height: calc(100vh - 48px);
}

.hpu-button {
  color: var(--light-gray-1);
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  border-radius: 8px;
  border: 1px solid var(--light-gray-1);
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.hpu-button:hover {
  color: var(--white);
  border-color: var(--white);
  cursor: pointer;
}

.hpu-button:focus {
  outline: 0;
  color: var(--white);
  border-color: var(--white);
}

.hpu-title {
  font-size: 24px;
}
