hpu-puzzle {
  background-color: rgb(30, 30, 30);
  color: rgb(200, 200, 200);
  cursor: grab;
  display: block;
  font-family: "SF Mono", Menlo, Monaco, "Courier New", monospace;
  font-size: 14px;
  line-height: 22px;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  min-width: max-content;
}

hpu-puzzle-element,
hpu-puzzle-text {
  display: block;
}

hpu-puzzle-id,
hpu-puzzle-class,
hpu-puzzle-attribute,
hpu-puzzle-attribute-value {
  display: inline-block;
  line-height: 22px;
}

/* hpu-puzzle.hpu-puzzle--dragging {
  cursor: grabbing;
} */

hpu-puzzle-element,
hpu-puzzle-id,
hpu-puzzle-class,
hpu-puzzle-attribute,
hpu-puzzle-attribute-value,
hpu-puzzle-text {
  border-radius: 5px;
  transition: background-color .2s;
}

.hpu-puzzle-element__tag-name {
  color: #569cd6;
}

hpu-puzzle-id {
  color: #b5cea8;
}

hpu-puzzle-class {
  color: #9cdcfe;
}

.hpu-puzzle-attribute__name {
  color: #ce9178;
}

hpu-puzzle-attribute-value {
  color: #dcdcaa;
  transition: background-color .2s, opacity .2s;
}

/* .hpu-puzzle__attribute-separator {
  white-space: pre-wrap;
} */

hpu-puzzle-text {
  color: #dadada;
  font-weight: bold;
  white-space: pre-wrap;
}

.hpu-puzzle-element__children {
  border-left: 1px solid rgb(64, 64, 64);
  overflow-y: hidden;
  padding-left: calc(2ch - 1px);
  transition: height .2s;
}

hpu-puzzle [hovered] {
  background-color: rgb(66, 87, 108);
}

hpu-puzzle-element[hovered],
hpu-puzzle-text[hovered] {
  background-color: rgb(32, 42, 52);
}

/* .hpu-puzzle__inserter {
  height: 18px;
  position: relative;
} */

/* .hpu-puzzle__attribute-target,
.hpu-puzzle__dragged,
.hpu-puzzle__block.hpu-puzzle__dragged {
  background-color: rgb(56, 61, 44);
} */

/* .hpu-puzzle__attribute-target .hpu-puzzle__attribute-value {
  opacity: .1;
} */

/* .hpu-puzzle__positioner {
  position: absolute;
  left: 0;
  right: 0;
  transition: left .2s;
} */
