e-dropdown(data-markup-content='Dropdown', data-markup-class='e-btn e-btn-dropdown', data-autoclose)
  .e-dropdown__content
    a.e-dropdown__item(href='#0')
      e-icon(icon='eye', type='table')
      | Preview
    a.e-dropdown__item.e-dropdown__item-disabled(href='#0')
      e-icon(icon='pencil', type='table')
      | Edit
    hr.e-separator
    a.e-dropdown__item(href='#0')
      e-icon(icon='files-o', type='table')
      | Copy
