body {
  background-color: rgb(37, 37, 37);
}

ths-puzzle {
  background-color: rgb(30, 30, 30);
  color: rgb(200, 200, 200);
  cursor: grab;
  display: block;
  font-family: "SF Mono", Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  line-height: 18px;
  user-select: none;
}

ths-puzzle span {
  display: inline-block;
  line-height: 18px;
}

ths-puzzle.ths-puzzle--dragging {
  cursor: grabbing;
}

[data-draggable] {
  border-radius: 5px;
  transition: background-color .1s, opacity .1s;
}

.ths-puzzle__block[data-draggable] {
  transition: background-color .2s, opacity .2s, height .2s;
}

.ths-puzzle__tag-name {
  color: #569cd6;
}

.ths-puzzle__id {
  color: #b5cea8;
}

.ths-puzzle__class {
  color: #9cdcfe;
}

.ths-puzzle__attribute-name {
  color: #ce9178;
}

.ths-puzzle__attribute-value {
  color: #dcdcaa;
}

.ths-puzzle__text {
  color: #dadada;
  font-weight: bold;
}

.ths-puzzle__children {
  border-left: 1px dotted rgb(120, 120, 120);
  padding-left: calc(2ch - 1px);
}

.ths-puzzle__highlighted {
  background-color: rgb(66, 87, 108);
}

.ths-puzzle__block.ths-puzzle__highlighted {
  background-color: rgb(32, 42, 52);
}

.ths-puzzle__dragged {
  opacity: .5;
}
