html {
  background: white;
}

.bold {
  font-weight: bold;
}

[textColor="green"] {
  color: green;
}

[textColor="orange"] {
  color: orange;
}

[textColor="blue"] {
  color: blue;
}

[bgColor="green"] {
  background: green;
}

[bgColor="orange"] {
  background: orange;
}

[bgColor="blue"] {
  background: blue;
}

.yellowText {
  color: yellow;
}
