.hpu-top-menu {
  background-color: var(--dark-gray-3);
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 0 32px;
  position: fixed;
  top: 0;
  width: 100vw;
}

.hpu-logo {
  align-items: center;
  color: var(--gray);
  cursor: pointer;
  display: flex;
  font-family: "SF Mono", Menlo, Monaco, "Courier New", monospace;
  font-size: 18px;
  height: 48px;
  user-select: none;
  -moz-user-select: none;
}

.hpu-logo__name {
  color: var(--dark-blue);
}

.hpu-login-button {
  align-items: center;
  display: flex;
  height: 48px;
  padding: 16px;
  user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}

.hpu-login-button:hover {
  background-color: var(--dark-gray-2);
  color: var(--white);
}
