div(style='height: 320px')
  .e-emptystate
    e-icon.e-emptystate__icon(icon='picture-o')
    .e-emptystate__content
      .e-emptystate__title
        | Dolor anim eu dolor aliquip
      .e-emptystate__lead
        | Commodo commodo cupidatat ea tempor adipiscing magna ex anim laborum
      .e-emptystate__button.e-btn.e-btn-secondary
        | Primary button
      a.e-emptystate__helperlink.e-helperlink.e-helperlink-nopadding(href='#')
        e-icon.e-helperlink__icon(icon='e-helperlink', size='small')
        span.e-helperlink__text
          | Learn more
