.bold
  span(textColor='green')
    | Hello
  span#italic(textColor='orange')
    |  World
  | !
div(textColor='orange')
  span(bgColor='blue')
    u.yellowText
      | This
    span.yellowText
      |  is
    |  an
  u
    |  example
  | ...
