my-element#testId1.class1.class2(attr1='value1', attr2='value2')
  #testId2.class1.class2(attr1='value1', attr2='value2')
    | Hello world!
    .class1.class2(attr1='value1', attr2)
    | Hello world again!
  div.class1.class2((testEvent)='myMethod', [testPropoerty]='myValue')
div#testId5.class1.class2(attr1='value1', attr2='value2')
